<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">

        <div class="container-fluid">

            <a class="navbar-brand fw-bold" th:href="@{/dashboard}">

                Bank Licensing Portal

            </a>

            <div class="d-flex align-items-center text-white">

                <span class="me-3" th:text="${#authentication.name}">
                </span>

                <form th:action="@{/logout}" method="post">

                    <button class="btn btn-outline-light btn-sm">
                        Logout
                    </button>

                </form>

            </div>

        </div>

    </nav>

</body>

</html>